* {box-sizing: border-box}


.container {
    padding: 5px;
}

h1 {
    
    border-radius: 15px 100px 15px 100px;
    color: #000000;
    padding: 16px 20px;
    margin: 8px 0;
    width: 100%;
    opacity: 0.9;
    text-align: center;
}

body {
    color: #000000;
    background:  #fdbd73;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

p {
    color: #2c2c2c;
}

.btn1 {
    background-color: #4aa44d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn2 {
    background-color: #4aa44d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

a {
    color: dodgerblue;
}

legend {
    text-align: center;
}