* {box-sizing: border-box}


.container {
    padding: 5px;
}

h1 {
    
    border-radius: 15px 100px 15px 100px;
    color: #000000;
    padding: 16px 20px;
    margin: 8px 0;
    width: 100%;
    opacity: 0.9;
    text-align: center;
}

body {
    color: #000000;
    background:  #fdbd73;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

p {
    color: #2c2c2c;
}

.btn1 {
    background-color: #4aa44d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn2 {
    background-color: #4aa44d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

a {
    color: dodgerblue;
}

legend {
    text-align: center;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -9000000px;
}

input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

input[type='checkbox'].toggle + label::before {
    content: '';
    width: 2em;
    height: 1em;
    background-color: hsl(0, 80%, 90%);
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out;
}

input[type='checkbox'].toggle + label::after {
    content: '\2715';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: .5em;
    height: 1.8em;
    width: 1.8em;
    background-color: hsl(0, 80%, 60%);
    border-radius: 1em;
    color: #fff;
    transition: background-color 200ms ease-in-out,
    transform 200ms ease-in-out;
}

input[type='checkbox'].toggle:focus + label::before {
    outline: 1px solid black;
}

input[type='checkbox'].toggle:checked + label::after {
    content: '\2713';
    background-color: #4CAF50;
    transform: translateX(100%);
}

input[type='checkbox'].toggle:checked + label::before {
    background-color: hsl(120, 70%, 90%);
}

input[type='checkbox'].toggle:disabled + label::after {
    background-color: #777;
}

input[type='checkbox'].toggle:disabled + label::before {
    background-color: #ccc;
}
